body {
        background-image: linear-gradient(#000, #666);
        background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    background-image: linear-gradient(to bottom right, gray, white);
    height: 10vh;
    border: 5px inset #999;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

nav ul li {
    display: inline;
    align-content: center;

}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 2.5rem;
}

nav ul li a:hover{
    color: #FFF;
}

.careerBio{
    background-color: #000;
    color: white;
    display: flex;
    flex-flow: row wrap;
    margin:2.5em;
    font-size: 1.5em
}

.careerBio div{
    padding-left: 3rem
}

.careerWorks{
    background-color: #000;
    color: white;
    display: flex;
    flex-flow: column wrap;
    margin: 2.5em;
    font-size:1.5em;
}
.careerWorks img{
    height: 20%;
    width: 20%;

}

.careerHomes{
    background-color: #000;
    color: white;
    display: flex;
    flex-flow: row wrap;
    margin: 2.5em;
    font-size:1.5em;
}

.careerCollabs{
    background-color: #000;
    color: white;
    display: flex;
    flex-flow: row wrap;
    margin: 2.5em;
    font-size:1.5em;
}
.careerAwards{
    background-color: #000;
    color: white;
    display: flex;
    flex-flow: row wrap;
    margin: 2.5em;
    font-size:1.5em;
}

