body {
    background-image: linear-gradient(#000, #666);
    background-attachment: fixed;

}

nav{
    background-image: linear-gradient(to bottom right, gray, white);
    height: 10vh;
    border: 5px inset #999;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

nav ul li {
    display: inline;
    align-content: center;

}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 2.5rem;
}

nav ul li a:hover{
    color: #FFF;
}

.news-section{
    background-color: #000;
    padding-top: 10px;
    margin-top: 50px;
    width: 50%;
    color: #FFF;
}
.news-header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    font-size: 2rem;
    color: #FFF;
}